[submodule "ECConfig"]
	path = ECConfig
	url = git://github.com/elegantchaos/ECConfig
[submodule "ECUnitTests"]
	path = ECUnitTests
	url = git://github.com/elegantchaos/ECUnitTests
[submodule "ECLogging"]
	path = ECLogging
	url = git://github.com/elegantchaos/ECLogging
[submodule "ECCore"]
	path = ECCore
	url = git://github.com/elegantchaos/ECCore
[submodule "ECLoggingExamples"]
	path = ECLoggingExamples
	url = git://github.com/elegantchaos/ECLoggingExamples.git
[submodule "ECUnitTestsExample"]
	path = ECUnitTestsExample
	url = git://github.com/elegantchaos/ECUnitTestsExample.git
[submodule "ECText"]
	path = ECText
	url = git://github.com/elegantchaos/ECText.git
[submodule "ECTouch"]
	path = ECTouch
	url = git://github.com/elegantchaos/ECTouch.git
[submodule "ECLocation"]
	path = ECLocation
	url = git://github.com/elegantchaos/ECLocation.git
[submodule "ECAnalytics"]
	path = ECAnalytics
	url = git://github.com/elegantchaos/ECAnalytics.git
[submodule "ECAppKit"]
	path = ECAppKit
	url = git://github.com/elegantchaos/ECAppKit.git
[submodule "ECNetwork"]
	path = ECNetwork
	url = git://github.com/elegantchaos/ECNetwork.git
[submodule "ECPreferencesWindow"]
	path = ECPreferencesWindow
	url = git@github.com:elegantchaos/ECPreferencesWindow.git
[submodule "ECPreferencesWindowExample"]
	path = ECPreferencesWindowExample
	url = git@github.com:elegantchaos/ECPreferencesWindowExample.git
[submodule "ECSecurity"]
	path = ECSecurity
	url = git@github.com:elegantchaos/ECSecurity.git
